@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.container{
    width: 1152px;
    height: 100vh;
    position: relative;
    @media (max-width: $mobile) {
        width: 100%;
    }
}
.wrapper{
    width: 100%;
    height: 700px;
    @include flex(column,flex-start,center);
}

.timer{
    &_container{
        margin-top: 40px;
        height: 60%;
        width: 100%;
        @include flex(column,center,center);
    }
    &_remaining{
        &__text{
            height: 30%;
            width: 100%;
            @include GwenFont($d_l);
            text-align: center;
            @media (max-width: $mobile) {
                font-size: 25px;
            }
        }
    }
    &_numbers{
        @include AntarcticFont(70px);
    }
}


