@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';



.item{
    @include flex(column,flex-end,center);
    gap: 10px;
    &_photo{
        width: 215px;
        height: 215px;
        position: relative;
        @media (max-width: $mobile) {
            width: 160px;
            height: 160px;
        }
    }
    &_title{
        @include GwenFont($d_m);
        color:$white;
    }
    &_price{
        @include GwenFont($d_m);
        color:$beije;
    }
    &_button{
        @include flex();
        width: 125px;
        height: 35px;
        padding: 0px 5px;
        @include GwenFont($d_m);
        color:$black;
        background-color: $beije;
        border-radius: 20px;
    }
}