@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.burger{
    &_container{
        height: 80px;
        width:100%;
        @include flex(row,flex-end,center);
        padding: 0px 17px 0px 0px;
        position: relative;
        z-index: 5;
    }
}

.modal{
    &_container{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 150vh;
        background-color: $black;
        color:$beije;
    }
    &_navlist{
        @include GwenFont(40px);
        @include flex(column,flex-start,center);
        gap:20px;
        &> li{
            cursor: pointer;
        }
    }
}