@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.cards{
    &_container{
        width: 100%;
        height: fit-content;
        @include flex(row,center,center);
        gap:100px;
        margin-bottom: 40px;
        margin-top: 40px;
        @media (max-width: $mobile) {
            gap:30px;
            margin-bottom: 50px;
            padding:0px 10px;
            height: 80%;
            height: fit-content;
            width: 100%;
            margin-top:100px;
        }
    }
    
    &_cardItemContainer{
        width: 20%;
        position: relative;
        animation: popUp ease-in-out 2s;
        &:before{
            content: "";
            display: block;
            padding-top: 160%;           /* initial ratio of 1:1*/
        }
    }
    
    @keyframes popUp {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    
    &_cardItem{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
    }
}