@import '/src/styles/mixins';
@import '/src/styles/letterals';

.button{
    color:$black;
    @include flex(column,center,center);
    text-align: center;
    @include GwenFont(30px);
    border-radius: 40px;
    background-color: $beije;
    padding: 20px;
    width: 100%;
    height: 100%;
}