@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.container{
    width: 1152px;
    height: fit-content;
    position: relative;
    @media (max-width: $mobile) {
        width: 100%;
    }
}

.wrapper{
    width: 100%;
    height: 700px;
    @include flex(column,flex-start,center);
}

.cards{

    &_buttonContainer{
        width:500px;
        height: 70px;
        @media (max-width: $mobile) {
            width: 80%;
            margin-bottom: 20px;
            & button{
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

