@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.nav{
    &_container{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }
    &_items{
        @include flex(row,space-around,center);
        color:$beije;
        @include GwenFont(40px);
    }
}