@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.nav{
    &_container{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        @media (max-width: 640px) {
            // overflow: hidden;
            display: none;
        }
    }
    &_items{
        @include flex(row,space-around,center);
        color:$beije;
        @include GwenFont($d_xl);
        &> li{
            cursor: pointer;
        }
    }
}