@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.layout{
    &_container{
        width: 100vw;
        height: fit-content;
        @include flex(column,flex-start,center);
        position: relative;

    }
    &_background{
        width: $desktop;
        height: 100%;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        margin:0 auto;
        position: absolute;
        @media (max-width: $desktop){
            overflow: hidden;
            width: 100%;
        }
        .background{
            &_container{
                width: 100%;
                height: 100%;
                position: relative;
                @media (max-width: $desktop) {
                    width: 100vw;
                }
            }
        }
    }
}



.darkBall{
    position: absolute;
    top: 518px;
    left: -250px;
    &_container{
        width: 700px;
        height: 600px;
        position: relative;
        margin: 0px 0px 0px 0px;

    }

}

.lightBall{
    position: absolute;
    top: -78px;
    right: -238px;
    &_container{
        width: 750px;
        height: 600px;
        position: relative;
        margin: 0px 0px 0px 0px;

    }
}