@import '/src/styles/mixins';
@import '/src/styles/letterals';


.container{
    width: 1152px;
    height: fit-content;
    padding-top:20px;
    position: relative;
    @include flex(column,flex-start,center);
    @include GwenFont($d_m);
    @media (max-width: $mobile) {
        width: 100%;
        height: fit-content;
        font-size: 20px;
    }
}




.content{
    .withImage{
        &__top{
            width: 100%;
            @include flex(row,space-between,flex-start);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);
                }
                &_image{
                    width: 244px;
                    height: 244px;
                    position: relative;
                    margin-left: 20px;
                    @media (max-width: $mobile) {
                        width: 120px;
                        height: 149px;  
                    }
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 100%;
                    text-align: start;
                }
        
            }
            
        }
    
        &__bottom{
            width: 100%;
            @include flex(row,space-between,flex-start);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);
                }
                &_image{
                    width: 250px;
                    height: 207px;
                    position: relative;
                    margin-right: 20px;
                    @media (max-width: $mobile) {
                        width: 140px;
                        height: 132px; 
                    } 
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 100%;
                    text-align: end;
                }
            }
            
        }
    }
    height: 100%;
    width: 1019px;
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex(column,flex-start,center);
    gap:50px;
    @media (max-width: $mobile) {
        @include flex(column,flex-start,center);
        height: 650px;
        width: 100%;
        margin: 10px 0px;
    }
}


.services{
    &_container{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_header{
        @include GwenFont($d_l);
        text-align: center;
        color: $white; 
        margin-bottom: 20px;
    }
    &_list{
        @include GwenFont($d_m);
        & li{
            margin-top: 20px;
        }
    }
    &_description{

    }
}

.purposes{
    &_container{
        width: 100%;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_description{
        @include GwenFont($d_m);
    }
    &_header{
        @include GwenFont($d_l);
        text-align: center;
        color: $white;
        margin-bottom: 10px;
    }
    &_list{
        @include GwenFont($d_m);
        & li{
            margin-top: 20px;
        }
    }
}

.afterall{
    &_container{
        width: 100%;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_description{
        @include GwenFont($d_m);
        margin-top: 20px;
        width: 100%;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &_header{
        @include GwenFont($d_l);
        color: $white;
        margin-top: 50px;
        text-align: center;
    }
}


