@import '/src/styles/mixins';
@import '/src/styles/letterals';


.container{
    width: 1152px;
    height: 700px;
    padding-top:20px;
    position: relative;
    @include flex(column,center,center);
    @media (max-width: $mobile) {
        width: 100%;
        height: fit-content;
        min-height: 800px;
    }
}

.content{

    height: 100%;
    width: 1019px;
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex(column-reverse,space-between,center);
    gap:50px;
    @media (max-width: $mobile) {
        @include flex(column,space-between,center);
        height: 650px;
        width: 100%;
        margin: 10px 0px;
    }
    &_bottom{
        gap: 20px;
        width: 100%;
        height: 50%;
        @include flex(row,space-between,flex-start);
        @media (max-width: $mobile) {
            gap:10px;
            width: 100%;
            height: 40%;
            padding: 0px 30px;
            .content_text{
                height: fit-content;
            }
        }
    }
    &_top{
        gap: 20px;
        width: 100%;
        height: 50%;
        @include flex(row-reverse,space-between,flex-start);
        @media (max-width: $mobile) {
            gap:10px;
            width: 100%;
            height: 50%;
            padding: 0px 30px;
            .content_text{
                height: fit-content;
            }
        }
    }
    &_text{
        @include GwenFont(25px);
        width: 90%;
        height: fit-content;
        @media (max-width: $mobile) {
            font-size: 20px;
            width: 200px;
        }
    }
}

.image{
    &_top{
        width: 244px;
        height: 244px;
        position: relative;
        @media (max-width: $mobile) {
            width: 120px;
            height: 149px;  
        }
    }
    &_bottom{
       width: 250px;
       height: 207px;
       position: relative;
       @media (max-width: $mobile) {
        width: 140px;
        height: 132px; 
       } 
    }
}



