/*________________________________________________________________________________*/
/*________________________________________Breakpoints________________________________________*/

$desktop:1152px;
$mobile:640px;

/*_______________________________________Colors_________________________________________*/
$black:#101010;
$beije:#E5C59E;
$white:#FFFCF9;
$parchment:#B9A78A;/*Цвет пергамента, он же примерный цвет форм*/
/*_______________________________________Font-Size_________________________________________*/
$d_xxl:50px;
$d_xl:40px;
$d_l:32px;
$d_m:27px;
$d_sm:20px;
$d_xsm:15px;

$m_xxl:24px;
$m_l:20px;
$m_m:16px;
$m_sm: 8px;


