/*________________________________________________________________________________*/
/*________________________________________Breakpoints________________________________________*/

$desktop:1152px;
$mobile:640px;

/*_______________________________________Colors_________________________________________*/
$black:#101010;
$beije:#E5C59E;
$white:#FFFCF9;
$parchment:#B9A78A; /*Цвет пергамента, он же примерный цвет форм*/
