@use 'globals';
@use 'letterals';
@use 'mixins';
@use 'shared';
@import './letterals';

/*_______________________________________App/layout.tsx_styles_________________________________________*/
body{
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$white;
    @media (min-width: 1456px) {
        overflow-x: hidden;
    }
}