@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.container{
    width: 1152px;
    height: fit-content;
    position: relative;
    @media (max-width: $desktop) {
        width: 100%;
    }
    @media (max-width: $mobile) {
        width: 90%;
    }
}
.wrapper{
    width: 100%;
    height: 700px;
    @include flex(column,flex-start,center);
}

.result{
    &_container{
        width: 90%;
        height: 80%;
        text-align: center;
        @include GwenFont($d_l);
        @media (max-width: $mobile) {
            font-size: $m_l;
        }
        & pre{
            width: 100%;
            text-wrap: balance;
        }
    }
}