@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.buy{
    &_container{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        background-color: red;
        width: $desktop;
        height: 891px;
        z-index: 6;
        @include flex(column,flex-start,flex-end);
    }
    &_wrapper{
        background-color: green;
        width: 25%;
        height: 25%;
    }
    &_cross{

    }
}
