@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.container{
    width: 1152px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    @media (max-width: $desktop) {
        width: 100%;
    }
}

.wrapper{
    width: 100%;
    height: 1087px;

}

.background{
    width: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    &_container{
        width: 100%;
        height: auto;
        position: relative;
        &:before{
            content: "";
            display: block;
            padding-top: 25%;           /* initial ratio of 1:1*/
        }
        @media (max-width: $desktop) {
            height: auto;
        }
    }

}

.shop{
    &_container{
        height: 100%;
        position: relative;
        z-index: 4;
        width: 100%;
    }
    &_items{
        margin-top: 20%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template:repeat(2,33%)/repeat(3,33%);
        align-items: flex-start;
        justify-items: center;
        row-gap: 40px;
        @media (max-width: $mobile) {
            grid-template:repeat(3,33%)/repeat(2,50%);
            column-gap: 20px;
        }
    }
    &_item{
        width: 216px;
        height: 302px;
        &:nth-child(3n-1){
            margin-top: 70px;
        }
        @media (max-width: $mobile) {
            &:nth-child(3n-1){
                margin-top: 0px;
            }
        }
    }
}

.item{
    @include flex(column,flex-end,center);
    gap: 10px;
    &_photo{
        width: 215px;
        height: 215px;
        position: relative;
    }
    &_title{
        @include GwenFont(25px);
        color:$white;
    }
    &_price{
        @include GwenFont(25px);
        color:$beije;
    }
    &_button{
        @include flex();
        width: 125px;
        height: 35px;
        padding: 0px 5px;
        @include GwenFont(25px);
        color:$black;
        background-color: $beije;
        border-radius: 20px;
    }
}