@import '/src/styles/mixins';
@import '/src/styles/letterals';


.container{
    width: 1152px;
    height: fit-content;
    padding-top:20px;
    position: relative;
    @include flex(column,flex-start,center);
    @include GwenFont(25px);
    @media (max-width: $mobile) {
        width: 100%;
        height: fit-content;
        font-size: 20px;
    }
}

.text{
    &_title{
        text-align: center;
        margin-bottom: 20px;
        @include GwenFont($d_l);
    }
    &_content{
        width: 85%;
        @include GwenFont($d_m);
        line-height: 150%;
    }
}

.hero{
    width: 100%;
    @include flex(row,flex-end,center);
    & .text{
        margin-right: 30px;
    }
}

.images{
    width: 40%;
    height: 100%;
    position: relative;
    @media (max-width: $mobile){
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .star{
        position: absolute;
        left: 36px;
        bottom: 90px;
        width: 120px;
        height: 120px;
        @media (max-width: $mobile){
             width: 70px;
             height: 70px;
             left: 130px;
             bottom: 10px;
        }
    }
    .image{
        &_container{
            @include flex(row,center,flex-end);
            height: 100%;

        }
        &_candle{
            position: relative;
            width: 194px;
            height: 365px;
            margin: 100px 25px 240px 0px;
            @media (max-width: $mobile){
                margin: 0px 0px 100px 0px;
                width: 134px;
                height: 232px;
            }
        }
        &_cards{
            position: relative;
            width: 194px;
            height: 335px;
            margin: 0px 0px 112px 0px;
            @media (max-width: $mobile){
                margin: 0px 0px 0px 20px;
                width: 134px;
                height: 232px;
            }

        }
    }
}


.content{
    .withImage{
        &__top{
            width: 100%;
            @include flex(row,space-between,flex-start);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);
                }
                &_image{
                    width: 244px;
                    height: 244px;
                    position: relative;
                    @media (max-width: $mobile) {
                        width: 120px;
                        height: 149px;  
                    }
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 100%;
                    text-align: start;
                }
        
            }
            
        }
    
        &__bottom{
            width: 100%;
            @include flex(row,space-between,flex-start);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);
                }
                &_image{
                    width: 250px;
                    height: 207px;
                    position: relative;
                    @media (max-width: $mobile) {
                        width: 140px;
                        height: 132px; 
                    } 
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 100%;
                    text-align: end;
                }
            }
            
        }
    }
    height: 100%;
    width: 1019px;
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex(column,flex-start,center);
    gap:50px;
    @media (max-width: $mobile) {
        @include flex(column,flex-start,center);
        height: 650px;
        width: 100%;
        margin: 10px 0px;
    }
}


.services{
    &_container{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_description{
        @include GwenFont(25px);
    }
    &_header{
        @include GwenFont($d_m);
        text-align: center;
        color: $white; 
        margin-bottom: 20px;
    }
    &_list{
        @include GwenFont(25px);
        & li{
            margin-top: 20px;
        }
    }
    &_description{

    }
}

.purposes{
    &_container{
        width: 100%;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_description{
        @include GwenFont(25px);
    }
    &_header{
        @include GwenFont($d_m);
        text-align: center;
        color: $white;
        margin-bottom: 10px;
    }
    &_list{
        @include GwenFont(25px);
        & li{
            margin-top: 20px;
        }
    }
}

.afterall{
    &_container{
        width: 100%;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &_description{
        @include GwenFont(25px);
        margin-top: 20px;
        width: 100%;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &_header{
        @include GwenFont($d_m);
        color: $white;
        margin-top: 50px;
        text-align: center;
    }
}


