@import '/src/styles/mixins';
@import '/src/styles/letterals';


.container{
    width: 1152px;
    height: fit-content;
    padding-top:20px;
    position: relative;
    @include flex(column,flex-start,center);
    @include GwenFont($d_m);
    @media (max-width: $mobile) {
        width: 100%;
        font-size: $m_m;
    }
    & label{
        text-align: center;
    }
}

.text{
    width: 100%;
    &_title{
        text-align: center;
        margin-bottom: 20px;
        @include GwenFont($d_l);
        @media (max-width: $mobile) {
            font-size: $m_l;
        }
    }
    &_content{
        width: 85%;
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
            text-align: center;
            padding-left: 15px;
            width: 100%;
            margin-bottom: 20px;
        }
        line-height: 150%;
    }
}

.hero{
    width: 100%;
    @include flex(row,flex-end,center);
    & .text{
        margin-right: 30px;
    }
    @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        & .text{
            margin-right: 0px;
        }
    }
}

.images{
    width: 40%;
    height: 100%;
    position: relative;
    @media (max-width: $mobile){
        margin-top: 20px;
        margin-bottom: 0px;
        width: 100%;
    }
    .star{
        position: absolute;
        left: 36px;
        bottom: 90px;
        width: 120px;
        height: 120px;
        @media (max-width: $mobile){
             width: 70px;
             height: 70px;
             left:60px;
             bottom:0px;
        }
    }
    .image{
        &_container{
            @include flex(row,center,flex-end);
            width: 100%;
            height: 100%;
            @media (max-width: $mobile) {
                padding-right: 10px;
                box-sizing: border-box;
            }
        }
        &_candle{
            position: relative;
            width: 194px;
            height: 365px;
            margin: 100px 25px 240px 0px;
            @media (max-width: $mobile){
                margin: 0px 0px 100px 0px;
                width: 40%;
                height: 220px;
            }
        }
        &_cards{
            position: relative;
            width: 194px;
            height: 335px;
            margin: 0px 0px 112px 0px;
            @media (max-width: $mobile){
                margin: 0px 0px 0px 20px;
                width: 40%;
                height: 220px;
            }

        }
    }
}


.content{
    .withImage{
        &__top{
            width: 100%;
            @include flex(row,space-between,flex-start);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);
                }
                &_image{
                    width: 244px;
                    height: 244px;
                    position: relative;
                    @media (max-width: $mobile) {
                        width: 150px;
                        height: 149px; 
                        margin-right: 10px;
                    }
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 95%;
                    text-align: start;
                    @media (max-width: $mobile) {
                        padding: 0px 10px;
                        width: 100%;
                        text-align: end;
                    }
                }
            }
        }
    
        &__bottom{
            width: 100%;
            @include flex(row,space-between,flex-end);
            .withImage{
                &_text{
                    width: 100%;
                    @include flex(column,flex-start,center);

                }
                &_image{
                    width: 250px;
                    height: 207px;
                    position: relative;
                    @media (max-width: $mobile) {
                        width: 140px;
                        height: 132px; 
                        align-self: flex-start;
                        margin-top: 45px;
                        margin-left: 10px;
                    } 
                }
                &_title{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: fit-content;
                }
                &_description{
                    width: 95%;
                    text-align: end;
                    @media (max-width: $mobile) {
                        padding: 0px 10px;
                        width: 100%;
                        text-align: start;
                    }
                }
            }
            
        }
    }
    height: fit-content;
    width: 1019px;
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex(column,flex-start,center);
    gap:50px;
    @media (max-width: $mobile) {
        @include flex(column,flex-start,center);
        width: 100%;
        margin: 10px 0px;
    }
}


.services{
    &_container{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
            padding: 0px 10px;
        }
    }
    &_description{
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
    }
    &_header{
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
        text-align: center;
        color: $white; 
        margin-bottom: 20px;
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
    }
    &_list{
        @include GwenFont($d_m);
        & li{
            margin-top: 20px;
        }
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
    }
    &_description{

    }
}

.purposes{
    &_container{
        width: 100%;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            width: 100%;
            padding: 0px 10px;
        }
    }
    &_description{
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
    }
    &_header{
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
        text-align: center;
        color: $white;
        margin-bottom: 10px;
    }
    &_list{
        @include GwenFont($d_m);
        @media (max-width: $mobile) {
            font-size: $m_m;
        }
        & li{
            margin-top: 20px;
        }
    }
}

.afterall{
    &_container{
        width: 100%;
        @media (max-width: $mobile) {
            width: 100%;
            padding: 0px 10px;
        }
    }
    &_description{
        @include GwenFont($d_m);
        margin-top: 20px;
        width: 100%;
        @media (max-width: $mobile) {
            text-align: center;
            font-size: $m_m;
        }
    }
    &_header{
        @include GwenFont($d_m);
        color: $white;
        margin-top: 50px;
        text-align: center;
    }
}


