@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.about{
    &_container{
        width: 1152px;
        height: 700px;
        @include flex(row,space-between,flex-start);
    }
}

.text{
    width: 60%;
    height: 100%;
    @include flex(column,flex-start,flex-start);
    @include GwenFont(30px);
}

.title{
    font-size: 60px;
    margin: 44px 0px 60px 50px;

}
.description{
    margin-left: 70px;

}

.images{
    width: 40%;
    height: 100%;

    .image{
        &_container{
            @include flex(row,center,flex-end);
            height: 100%;
            position: relative;

            & .star{
                position: relative;
                left: 56px;
                bottom: 112px;

            }
        }
        &_candle{
            position: relative;
            width: 194px;
            height: 365px;
            margin: 100px 25px 240px 0px;

        }
        &_cards{
            position: relative;
            width: 194px;
            height: 335px;
            margin: 0px 50px 112px 0px;

        }
    }
}

