@import '/src/styles/mixins';
@import '/src/styles/letterals';

.input{
    margin-top: 20px;
        width: 70%;
        background-color: transparent;
        outline: none;
        @include GwenFont(16px);
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $black;
        margin-bottom: 30px;

        &::-webkit-input-placeholder{
            @include GwenFont(16px);
            color:$black;
        }
        &::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        overflow-x: scroll;
        @media (max-width: $mobile) {
            width: 90%;
            margin-top: 30px;
            margin-bottom: 0px;
        }
}