@import '/src/styles/mixins';
@import '/src/styles/letterals';

.taro{
    &_container{
        width: 1152px;
        height: 700px;

        position: relative;
        @include flex(column,center,center);
        @media (max-width: $mobile) {
            width: 100%;
            height: fit-content;
            min-height: 800px;
        }
    }
}


.content{
    height: 100%;
    width: 1019px;
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex(row,space-between,flex-start);
    @media (max-width: $mobile) {
        @include flex(column,space-between,center);
        height: 650px;
        width: 100%;
        margin: 10px 0px;
    }
    &_left{
        gap: 20px;
        width: 50%;
        height: 100%;
        @include flex(row,space-between,flex-start);
        @media (max-width: $mobile) {
            gap:10px;
            width: 100%;
            height: 40%;
            padding: 0px 30px;
            .content_text{
                height: fit-content;
            }
        }
    }
    &_right{
        gap: 20px;
        width: 50%;
        height: 100%;
        @include flex(row-reverse,space-between,flex-end);
        @media (max-width: $mobile) {
            @include flex(row-reverse,space-between,flex-end);
            gap:10px;
            width: 100%;
            height: 50%;
            padding: 0px 30px;
            .content_text{
                height: fit-content;
            }
        }
    }
    &_text{
        @include GwenFont(25px);
        width: 300px;
        height: 200px;
        overflow: hidden;
        @media (max-width: $mobile) {
            font-size: 20px;
            width: 200px;
        }
    }
}

.image{
    &_left{
        width: 205px;
        height: 244px;
        position: relative;
        @media (max-width: $mobile) {
            width: 120px;
            height: 149px;  
        }
    }
    &_right{
       width: 207px;
       height: 207px;
       position: relative;
       @media (max-width: $mobile) {
        width: 140px;
        height: 132px; 
       } 
    }
}



