@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.title{
    width: 100%;
    height: 100px;
    @include flex(row,center,center);
    margin-top: 20px;
    margin-bottom: 10px;
    @include GwenFont(50px);
    @media (max-width: $mobile) {
        font-size: $m_xxl;
        height: 20px;
    }
}