@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.timerCards{
    margin-top: 60px;
    height: 50%;
    width: 100%;
    @include flex(row,center,center);
    gap:15px;

    &_item{
        width: 120px;
        height: 200px;
        background-color: $beije;
        border-radius: 5px;
        position: relative;
        z-index: 4;

        &__behind{
            position: absolute;
            top:0;
            border-radius: 5px;
            left:0;
            width: 120px;
            height: 200px;
            background-color: $beije;
            z-index: 3;
        }
    }
    &_itemContainer{
        position: relative;
        perspective-origin: 50%;
        perspective: 600px;
        -webkit-perspective: 600px;
    }

    .dropped{
        animation:cardDrop 1s ease-in-out infinite ;
        transform-origin: bottom;
    }
}

@keyframes cardDrop {

    
    from{
        transform: rotateX(0deg);
    }

    to{
        transform: rotateX(-90deg);
    }

}
