@import '/src/styles/mixins.scss';
@import '/src/styles/letterals.scss';

.header{
    &_container{
        width: 100%;
        max-width: 1152px;
        height: 80px;
        border-bottom: 1px solid $beije;
        position: relative;
        z-index: 5;
        background-color: $black;
    }
}



.modal{
    &_container{
        position: absolute;
        top:0;
        left:0;
        background-color: $black;
    }
}